[SddmGreeterTheme]
Name= Zero Two SDDM
Description=A simple SDDM theme ft. Zero Two.
Screenshot=screenshot.png
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sddm-02
Theme-API=2.0
